*, html, body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html, body {
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 1300px) {
    input {
        width: 70vw !important;
    }
  }

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    position: absolute;
    top: 0;
    margin: auto;
    width: 100vw;
    background: black;
    background-image: radial-gradient(rgba(255, 255, 255, 0.365) 1px, transparent 0);
    background-size: 120px 120px;
    background-position: -19px -19px;
}

.logo-container .logo {
    width: 10vw;
}

.logo-container p {
    color: white;
    font-weight: 600;
    font-size: 20pt;
    height: 10vh;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: white;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services div {
    margin: 3rem;
}

.services div p {
    padding: 0;
}

label {
    color: white;
    margin-top: 2rem;
}

input {
    width: 30rem;
    padding: 0.6rem;
    font-size: 12pt;
    border-radius: 0.3rem;
    outline: none;
}

.form {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 80vh;
    background: black;
    background-image: radial-gradient(rgba(255, 255, 255, 0.365) 1px, transparent 0);
    background-size: 120px 120px;
    background-position: -19px -19px;
}

.thrd-call {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: black;
    background-image: radial-gradient(rgba(255, 255, 255, 0.365) 1px, transparent 0);
    background-size: 120px 120px;
    background-position: -19px -19px;
}

.frst-call {
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: black;
    background-image: radial-gradient(rgba(255, 255, 255, 0.365) 1px, transparent 0);
    background-size: 120px 120px;
    background-position: -19px -19px;
}

.scnd-call,.frth-call {
    text-align: center;
    background: rgb(239, 239, 239);
    background-image: radial-gradient(rgba(0, 0, 0, 0.678) 1px, transparent 0);
    background-size: 120px 120px;
    background-position: -19px -19px;
    padding: 4rem 0;
}

h3 {
    font-size: 24pt;
}


.scnd-call h2,.frth-call h2  {
    font-size: 30pt;
color: black;
}

.thrd-call h2 {
    font-size: 30pt;
color: white;
}

.thrd-call p {
    font-size: 15pt;
    color: white;
    padding: 1.5rem 0;
}

.scnd-call p, .frth-call p {
    font-size: 15pt;
    color: black;
    padding: 1rem 0;
}

.frst-call h1 {
    font-size: 40pt;
   color: white;
}

.frst-call h2 {
    font-size: 16pt;
    color: #e5e5e5;
    font-weight: 300;
}

a {
   background: rgb(52, 213, 92);
   color: black;
   padding: 1rem;
   font-size: 15pt;
   font-weight: 600;
   border-radius: 0.4rem;
   cursor: pointer;
   transition: 400ms;
   margin-top: 1rem;
}

button {
    background: white;
    color: black;
    padding: 1rem;
    font-size: 15pt;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 400ms;
    margin-top: 1rem;
}

 .arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.result {
    border: 1px solid white;
    border-radius: 1rem;
    width: 50vw;
    margin: 1.7rem auto;
    padding: 1rem;
    text-align: left;
}

.result p {
    margin: 0;
    padding: 0.4rem;
    font-weight: 600;
 }

.result p:last-child {
   font-size: 7pt;
   font-weight: 400;
}